* {
  margin: 0;
  padding: 0;
  position: relative
}

* {
  cursor: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  z-index: 2;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, sans-serif;
  background-color: #ecf0f1;
}

a {
  color: #2980b9;
}

a:hover {
  color: #3498db;
}

.how-it-works {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.info {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.info-title {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 300;
  padding-bottom: 0.618rem;
}

.info-description {
  font-size: 1rem;
  color: #7f8c8d;
}

.options {
  border: 1px solid #bdc3c7;
  border-radius: 2px;
  height: 2rem;
  font-size: 0.8rem;
  margin-top: 1rem;
  display: inline-block;
}

.options-element {
  height: 2rem;
  line-height: 2rem;
  padding: 0 1rem;
  border-right: 1px solid #bdc3c7;
  float: left;
}

.options-element:last-of-type {
  border-right: none;
}

.options-element.-active {
  background-color: #fff;
  font-weight: 500;
}

#cursor {
  opacity: 0;
  margin-top: -2px;
  margin-left: -2px;
  position: fixed;
  z-index: 2;
  pointer-events: none;
}

.clickme {
  position: fixed;
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 64px;
  background: #2980B9;
  text-align: center;
  line-height: 64px;
  top: 50%;
  left: 50%;
  margin-top: -32px;
  margin-left: -32px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  pointer-events: none;
  font-weight: 500;
}

.clickme.-alt1 {
  top: 35%;
  left: 35%;
}

.clickme.-alt2 {
  top: 65%;
  left: 65%;
}

.clickme.-nope {
  background: #c0392b;
}

.clickme.-hover {
  opacity: 0.8;
}