* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  pointer-events: none;
}

html {
  cursor: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

body,
html {
  font-size: 15px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial,
    sans-serif;
  background-color: #f8f8f8;
  color: #000;
  background-image: url(/control-user-cursor/assets/bg.svg);
  background-repeat: repeat;
}

h1 {
  font-weight: 900;
  font-size: 2rem;
  line-height: 1;
}

a {
  color: #2980b9;
}
a:hover {
  color: #2980b9;
}
a.-hover {
  background: #000;
  color: #fff;
}

button {
  font-weight: 900;
  border: none;
  appearance: none;
  font-size: 16px;
  background-color: white;
  line-height: 1;
  padding: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(0, 0, 0, 0.1) 0 2px 16px;
}
button.-hover {
  background: #000;
  color: #fff;
}

.info {
  position: fixed;
  top: 1.5rem;
  left: 1rem;
  line-height: 1;
}

.info-description {
  padding: 0.5rem 0 1rem;
}

.-prevent-custom-cursor:hover {
  cursor: none;
}

#cursor {
  opacity: 0;
  margin-top: -2px;
  margin-left: -2px;
  position: fixed;
  z-index: 2;
  pointer-events: none;
}

.clickme {
  --border-width: 7px;
  --gravity-area: 200px;
  position: fixed;
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 64px;
  background: #2980b9;
  text-align: center;
  line-height: 64px;
  top: 50%;
  left: 50%;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  font-weight: 500;
}

.clickme::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  display: block;
  height: calc(var(--gravity-area) - 2 * var(--border-width));
  width: calc(var(--gravity-area) - 2 * var(--border-width));
  margin-top: calc(var(--gravity-area) * -0.5);
  margin-left: calc(var(--gravity-area) * -0.5);
  border: var(--border-width) solid #2980b9;
  animation: 4s infinite radar reverse;
  filter: blur(4px);
}

.clickme::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  display: block;
  height: calc(var(--gravity-area) - 2 * var(--border-width));
  width: calc(var(--gravity-area) - 2 * var(--border-width));
  margin-top: calc(var(--gravity-area) * -0.5);
  margin-left: calc(var(--gravity-area) * -0.5);
  border: var(--border-width) solid #2980b9;
  animation: 4s -2s infinite radar reverse;
  filter: blur(4px);
}

@keyframes radar {
  0% {
    transform: scale(0);
    opacity: 0.05;
  }

  50% {
    opacity: 0.05;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.clickme.-nope {
  background: #c0392b;
}
.clickme.-nope::before,
.clickme.-nope::after {
  border-color: #c0392b;
}
.clickme.-nope::before {
  animation: 4s infinite radar;
}
.clickme.-nope::after {
  animation: 4s -2s infinite radar;
}

.clickme.-hover {
  opacity: 0.8;
}
